{% extends 'woocommerce/baseUser.html' %}

{% load staticfiles %}
{% block content %}
    <div class="" id="wrapper">
      <div class="row">
        <div class="col-lg-1 col-lg-offset-1" style="margin-top: 1em;">
         <div>
         <b>List of requests:</b>
         </div>
        </div>
      </div>
       <div class="row" >
         <div class="col-lg-1" >
         </div>
       <div class="hpanel col-lg-10" style="margin-top: 1em;">

           <div class="panel-body">
             {% if schedules %}
               <div class="table-responsive">
               <table class="table table-hover table-bordered table-striped">
                   <tbody>
                     <thead>
                       <tr>
                          <th>State</th>
                          <th>Request name</th>
                          <th>Website URL</th>
                          <th>Request creation time</th>

                        </tr>
                      </thead>
                  {% for schedule in schedules %}
                   <tr>
                        {% if schedule.file_state == 'P' %}
                       <td>
                           <span class="label label-warning">Pending</span>
                       </td>
                        {% elif schedule.file_state == 'C' %}
                        <td>
                            <span class="label label-success">Created</span>
                        </td>
                        {% elif schedule.file_state == 'D' %}
                        <td>
                            <span class="label label-primary">Done</span>
                        </td>
                        {% endif %}
                       <td class="issue-info">
                           <a href="#">
                               {{schedule.id}}
                           </a>
                           <br/>
                           <small>
                               Keywords: {{schedule.AliExpress_keywords}}, Category: {{schedule.AliExpress_category}}.
                           </small>
                       </td>
                       <td>
                           {{ schedule.woocommerce_url }}
                       </td>
                       <td>
                           {{ schedule.schedule_start }}
                       </td>
                       <td class="text-center">
                            <a href="{%url 'woocommerceApp:download' schedule.id %}">
                           <button class="btn btn-primary btn-sm"> Download</button>
                           </a>
                       </td>
                   </tr>
                   {%endfor%}
                 </tbody>
               </table>
               </div>
               {% else %}
               <div class="">
                 No requests made yet.
               </div>
               {% endif %}
             </div>
           </div>
           <div class="col-lg-1">

           </div>
         </div>

         <div class="text-center" style="margin-top: 1em; margin-bottom: 1em;">
           <a href="{%url 'woocommerceApp:schedule'%}">

             <button type="button" class="btn btn-success" onclick="request_form()">
               Make a new request
             </button>
           </a>

        </div>

  </div>
  {% block scripts %}
  <script type="text/javascript">

        $.ajax({
          type: "POST",
          url: url,
      //data: {'time': time_filter_list, 'tag': tag_filter_list, 'title':input_value},
        success: function(result) {
              $("#schedule-form").html(result)
            },
        error: function(error) {
              //  alert("ERROR");
        //  console.log(url);
          }
        });

      }
  </script>
  {% endblock %}
{% endblock %}
